html{
    font-size: 20px;
    // margin: 0 auto;
}
*{
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    margin: 0 auto;
    background-color: $bluecolor;
    max-width: 1440px;
// display: flex;
// flex-direction: column;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}