.about {
    background: url(/src/assets/icons/about-us-ornament-cirkle.svg)82% 100% no-repeat,url(/src/assets/icons/about-us-ornament-liner.svg)72% 10% no-repeat;  
}
.about-us {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    flex-wrap: wrap;
}
.about-us-text {
   max-width: 539px;

        &__title-h{
            font-family: Inter;
            font-size: 48px;
            font-weight: 700;
            line-height: 58px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba(255, 255, 255, 1);
        }
		&__deskription-p-first {
            padding-top: 2rem;
            min-height: 297px;
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba(224, 229, 243, 1);   
		}
		&__button {
            width: 10rem;
            min-height: 56px;
            @include button-hero
		}
}
.about-us-images {
        display: flex;
        margin-left: 2.2rem;     
        max-width: 45%;
        

		&__left {
            max-width: 265px;
            margin-right: 1.3rem; 
		}
		&__left-image-top {
            margin-bottom: 1.3rem;
		}
		&__left-image-bottom {
            margin-left: 2.2rem;   
		}
		&__right {
            max-width: 265px;
            margin-top: 3.5rem;
		}
		&__right-image-top {
            margin-bottom: 1.3rem;
		}
    }