
.about-us {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    flex-wrap: wrap;  
}
.about-us-text {
   max-width: 40%;
   flex-basis: calc(100% / 12 * 6 - 30px);
   padding-right: 2.2rem;

        &__title-about{
            font-family: Inter;
            font-size: 48px;
            font-weight: 700;
            line-height: 58px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba(255, 255, 255, 1);
        }
		&__deskription-about {
            padding-top: 2rem;
            min-height: 297px;
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba(224, 229, 243, 1);   
		}
		&__button {
                  margin-top: 2rem;
            width: 10rem;
            min-height: 56px;
            @include button-hero;
            transition:0.3s;
		}
            &__button:hover {
                  margin-top: 2rem;
            width: 10.5rem;
            min-height: 56px;
            @include button-hero;
            font-size: 20px;
            transition:0.3s;
		}
}
.about-us-images {  
        max-width: 100%;
}

    .position-about{
      display: flex;
      max-width: 100%;
      position: relative;
      z-index: 1;
      
    }
    .posion-ornament-circle{
      &__circle{
            position: absolute;
            left: 80%;
            top: 83%;
            z-index: -1;
      }

    }
    .posion-ornament-liner{
      &__liner{
            position: absolute;
            left: 70%;
            top: 1%;
            z-index: -1;

      }

    }


    @media (max-width:1100px) {
     
            .about-us-text {
                  max-width: 100%;
                  flex-basis: calc(100% - 30px);
                  margin: 0 2rem 2rem 2rem;
                  padding-bottom:3rem ;
                  &__button {
                        margin: 0;
                        
                  }
            }
            .about-us-images{
                  margin: 1rem;
                  align-self: center;
                  max-width: 100%;
                  &__image-all{
                        max-width: 100%;
                        margin: 0 auto;
                  }
            }
                }