.hero-footer {
    background: $greycolor;
  
}
.container-big {
}
.footer {
      margin:2.4rem 1rem 1rem 1rem;

		&__interaction-contacts {
            padding: 2.4rem 4rem 0 4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            display: flex;
            flex-wrap: wrap;
		}

		&__bottom-information {
            padding: 2.5rem;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;          
		}
}
.interaction-contacts { 
    display: flex;
    
    

		// .interaction-contacts__ornament-box

		&__ornament-box {
            position: absolute;
            left: 3.5%;
            top:6%;
            // bottom: 65%;
       
		}

		// .interaction-contacts__form

		&__form {
                 
            max-width: 100%;
            
		}

		// .interaction-contacts__office

		&__office {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
		}

		// .interaction-contacts__contact

		&__contact {
                  display: flex;
                  // flex-direction: column;
            justify-content: center;
            
           
		}
}
.image-box {

		// .image-box__footer-ornament

		&__footer-ornament {
		}

		// .image-box__sotial-media-icons

		&__sotial-media-icons {
		}
}
.form {

		// .form__footer-form

		&__footer-form {
            margin-right: 3rem;
		}

		// .form__footer-fieldset

		&__footer-fieldset {
            position: relative;
           max-width: 100%;
           border-radius: 50px;
           border: none;
           background: $yelowcolor;
           padding: 0 2.4rem 4rem 2.4rem;
           
		}

		// .form__input-email

		&__footer-input-email {
            
            &::placeholder{
                text-decoration: none;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            }
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            width: 100%;
            padding: 1rem 0 0 0;
            border-top: none;
            border-left: none;
            border-right: none;
            background:$yelowcolor;
            outline: none;
		}
}
.footer-fieldset {

    // .footer-fieldset__title

    &__title {
        padding: 4rem 0 0 0;
        @include text600;
        color: black;
        max-width: 100%;
        font-size: 20px;
        line-height: 30px;
        text-align: left;
        
    }
}
.office {

		// .office__name

		&__name {
            @include text600;
            font-size: 20px;
            line-height: 30px;
            text-align: left;
		}

		// .office__adres

		&__adres {
            @include text400;
            text-align: left;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            
		}
}

.contact {

		// .contact__name

		&__name {
            @include text600;
            font-size: 20px;
            line-height: 30px;
            text-align: left;
		}

		// .contact__links

		&__links {
            
            display: flex;
    flex-direction: column;
    align-items: flex-start;

		}
}
.links {
    max-width: 100%;

		// .links__link-mail

		&__link-mail {
                  max-width: 100%;
            @include text400;
            text-align: left;
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
		}

		// .links__link-telephone

		&__link-telephone {
                  max-width: 100%;
            @include text400;
            text-align: left;
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
		}
}
.bottom-information {

		// .bottom-information__left-side

		&__left-side {
            margin: 0 auto;
            pad: 1rem;
		}

		// .bottom-information__cemter-side

		&__cemter-side {
            margin: 0 auto;
            pad: 1rem;
		}

		// .bottom-information__right-side

		&__right-side {
            
            margin: 0 auto;
            pad: 1rem;
		}
}
.left-side {

		// .left-side__information

		&__information {
            @include text400;
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
		}
}
.center-side {

		// .center-side__information

		&__information {
            @include text400;
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
		}
}
.right-side {

		// .right-side__image-box

		&__image-box {
		}
}

.footer-mini{
      display: none;
}

@media (max-width:900px) {
      .footer-full{
            display: none;
      }
      .footer-mini{
            display: initial;
      }
      .interaction-contacts { 
            display: flex;
            justify-content: center;

            &__ornament-box {
                  display: none;
                  position: absolute;
                  left: 3.5%;
                  top:6%;
                  
                  }
                  &__office {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        max-width: 100%;
                        margin: 1rem;
                  }
      
                  // .interaction-contacts__contact
      
                  &__contact {
                 
                  }
                  }
                  .footer {
   
                        margin-top: 2.4rem;
                    
                                &__interaction-contacts {
                                padding: 0 ;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: relative;
                                display: flex;
                                flex-wrap: wrap;
                                }
}
.form {

      // .form__footer-form

      &__footer-form {
      margin-right: 0;
      }

      // .form__footer-fieldset

      &__footer-fieldset {
           margin: 0 auto;
      position: relative;
      width: 100%;
     border-radius: 50px;
     border: none;
     background: $yelowcolor;
     padding: 0 2.4rem 4rem 2.4rem;
     margin-bottom: 1rem;
     
      }
}

.contact {

      &__links {
      
      display: flex;
flex-direction: column;
align-items: center;
      }
}
}