.hero {
      background:url(..//../src/assets/icons/ellipse-right-top.svg);
      margin: 1rem;
      max-width: 1440px;
      margin: 0 auto;
      
}

.hero-content {
            &__title-agency-filling{
            min-height: 700px;
            margin: 1rem;
            }
		&__title {
            display: flex;
            flex-direction: column;
            
		}
		// &__deskription-side{
            // display: flex;
            // align-items: flex-end;
            // min-height: 700px;
            // z-index: 6;
		// }
		// &__world-class {
            // height: 182px;
            // margin-left: 15%;
		// }
            // &__title-digital{
            // max-height: 122px;
            // display: flex;
            // }
            &__title-text-image{
            display: flex;
            flex-wrap: wrap;
            }
		&__digital{
            
            font-weight: 700;
            line-height: 182px;
            letter-spacing: 0em;
            color:rgba(255, 255, 255, 1);
		}
            &__agency {     
            min-height: 182px;
            max-width: 563px;
            font-family: 'Inter', sans-serif;
            font-size: 150px;
            font-weight: 700;
            line-height: 182px;
            color:rgba(255, 255, 255, 1);
            }
		&__deskription {
            display: flex;
            justify-content: center;
		}
		&__deskription-side-image {
            margin-left: 2rem;
            height: 368px;
            width: 292px;
		}
		&__deskription-text-content {
            display: flex;
            flex-direction: column;
		}
		&__deskription-hero-deskription {
            max-width: 25rem;
            margin-top: 2rem;
            color:rgba(224, 229, 243, 1);
            font-family: 'Inter', sans-serif;
            font-size: 24px;
            font-weight: 400;
            line-height: 40px;
            text-align: left;
		}
		&__deskription-hero-button {
            max-width: 10rem;
            min-height: 60px;
            margin-top: 2.2rem;
            @include button-hero;
		}
            &__deskription-scroll{
            display: flex;
            flex-direction: row-reverse;
            margin: 1.3rem 8.8rem 0 0;    
            }
		&__deskription-scroll-down {
            height: 102px;
            width: 22px;
            text-align: end;
		}
		&__deskription-hero-image {
            // min-height: 475px;
            // max-width: 23rem;
            border-radius: 50px;
            max-width: 100%;
	min-height: 327px;
      z-index: 1;
		}
}




.hero-content {
      

      // .hero-content__title

      &__title {
      }

      // .hero-content__title-text-image

      &__title-text-image {
      }

      // .hero-content__deskription-side

      &__deskription-side {
      }

      // .hero-content__deskription-side-image

      &__deskription-side-image {
      }

      // .hero-content__title-agency-filling

      &__title-agency-filling {
      }

      // .hero-content__deskription-text-content

      &__deskription-text-content {
      }

      // .hero-content__deskription-hero-deskription

      &__deskription-hero-deskription {
      }

      // .hero-content__deskription-hero-button

      &__deskription-hero-button {
      }

      // .hero-content__deskription-scroll

      &__deskription-scroll {
      }

      // .hero-content__deskription-scroll-down

      &__deskription-scroll-down {
      }

      // .hero-content__deskription-hero-image

      &__deskription-hero-image {
      }
}
.title {

      // .title__title-digital

      &__title-digital {
            display: flex;
            justify-content: center;

            position: relative;
      }
}
.title-digital {

      // .title-digital__digital

      &__digital {
            padding-top: 3.5rem;
      @include text700;
      // padding-right: 6rem;
            // min-height: 72px;
            max-width: 100%;
            font-size: 7.5rem;
            z-index: 1;
            position: relative;
      }

      // .title-digital__title-image-world

      &__title-image-world {
            position: absolute;
            right: 65%;
      }

      // .title-digital__title-image-line

      &__title-image-line {
            position: absolute;
            left: 48%;
            top: 10%;
            overflow: hidden;
      }

      &__title-image-line-mini{
            display: none;
      }
      // .title-digital__title-image-starleft

      &__title-image-starleft {
            position: absolute;
            left: 2.5%;
            top: 80%;
      }

      // .title-digital__title-image-starright

      &__title-image-starright {
            position: absolute;
            top: 20%;
            right: 15%;
      }

      // .title-digital__title-image-ellips-left-top

      &__title-image-ellips-left-top {
            position: absolute;
            left: 0%;
            top: -160%;
      }

      // .title-digital__title-image-ellips-left-bottom

      &__title-image-ellips-left-bottom {
            position: absolute;
            left: 0%;
            top: 160%;
      }

      // .title-digital__title-image-ellips-right-top

      &__title-image-ellips-right-top {
            position: absolute;
            right: 0%;
            top: -160%;
      }

      // .title-digital__title-image-ellips-right-bottom

      &__title-image-ellips-right-bottom {
            position: absolute;
            right: 0%;
            top: 160%;
      }

      // .title-digital__title-image-hero-ornament-top

      &__title-image-hero-ornament-top {
            position: absolute;
            left: 0%;
            top: -90%;
      }
      &__title-image-hero-ornament-top-mini{
            position: absolute;
            left: 0%;
            top: -70%;  
            display: none;
      }
      
}
.title-image-world {

      // .title-image-world__world-class

      &__world-class {
      }
}
.title-image-line {

      // .title-image-line__line

      &__line {
      }
}
.title-image-line-mini{
      &__line-mini {
            
      }
}
.title-image-starleft {

      // .title-image-starleft__star-left

      &__star-left {
      }
}
.title-image-starright {

      // .title-image-starright__star-right

      &__star-right {
      }
}
.title-image-ellips-left-top {

      // .title-image-ellips-left-top__ellips-left-top

      &__ellips-left-top {
      }
}
.title-image-ellips-left-bottom {

      // .title-image-ellips-left-bottom__ellips-left-bottom

      &__ellips-left-bottom {
      }
}
.title-image-ellips-right-top {

      // .title-image-ellips-right-top__ellips-right-top

      &__ellips-right-top {
      }
}
.title-image-ellips-right-bottom {

      // .title-image-ellips-right-bottom__ellips-right-bottom

      &__ellips-right-bottom {
      }
}
.title-image-hero-ornament-top {

      // .title-image-hero-ornament-top__hero-ornament-top

      &__hero-ornament-top {
      }
}


























.hero-content {

      &__title-text-image {
            max-width: 100%;
            display: flex;
      flex-wrap: wrap-reverse;
margin: 1rem;
      }
}
.deskription-scroll{
      &__deskription-scroll-down {
      }
}
.title-text-image {
      
      max-width: 100%;

      &__side {
            max-width: 30%;
            display: flex;
            align-items: flex-end;
            min-height: 700px;
           
            
      }

      &__deskription-heroimage {
            
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            max-width: 100%;
      }}
.title-text-image{

            &__hero-image {
                  display:flex ;
                  align-items: center;
            min-height: 700px;
            max-width: 46%;
            z-index: 1;
            margin-left: 1rem;
            
      }
}
.side {

      &__side-image {
            margin-left: 1rem;
            
      }
}
.deskription-heroimage {

      &__content {
            max-width: 45%;
            min-height: 700px;
            max-width:55%
      }
}
.content {

      &__agency {
            flex-basis: calc(100% / 12 * 4 - 30px);
    margin: 15px;
            padding:2rem 0 0 0;
            
            @include text700;
            text-align: left;
            max-width: 80%;
            font-size: 7.5rem;
            font-weight: 700;
            line-height: 9rem;
      }

      &__deskription-text-content {
            
      }
}
.deskription-text-content {

      &__deskription-hero-deskription {
            max-width: 25rem;
            margin-top: 2rem;
            color:rgba(224, 229, 243, 1);
            font-family: 'Inter', sans-serif;
            font-size: 24px;
            font-weight: 400;
            line-height: 40px;
            text-align: left;
      }

      &__deskription-hero-button {
            max-width: 10rem;
            min-height: 60px;
            margin-top: 2.2rem;
            @include button-hero;
      }

            
      &__deskription-scroll {
            height: 102px;
            width: 22px;
            padding-left: 70%;
            margin-top: 1.3rem;
            
      }
}
.hero-image {
      &__hero-image {
            
      }
}









































@media (max-width:1400px) {
      
      .hero-image{
            
            max-width: 100%;
      }
      .title-text-image {
      
            max-width: 100%;
            
            &__side {
                  max-width: 100%;
                  display: flex;
                  align-items: flex-end;
            }
            &__deskription-heroimage {
            
                  display: flex;
                  justify-content: flex-start;
                  flex-wrap: wrap;
                  max-width: 100%;
                  
            }
            &__hero-image {
                  
                  min-height: 432px;
                  max-width: 100%;
                  z-index: 1;
                  margin: 0 auto;
            }
      }
      .hero-image {
            
            &__hero-image {
                  max-width: 100%;
                  margin: 0 auto;
                  
            }
      }
      

      .deskription-heroimage {
            
            &__content {
                  max-width: 100%;
                  // min-height: 700px;
                  margin:0.75rem;
            }
      }
}

@media (max-width:1000px){

      .title-text-image {
      
            max-width: 100%;
            
           
            &__deskription-heroimage {
            
                  display: flex;
                  justify-content: center;
                  flex-wrap: wrap;
                  max-width: 100%;
                  // text-align: center;
            }
            &__side {
                  max-width: 30%;
                  display: flex;
                  align-items: flex-end;
                  min-height: 100px;
                 
                  
            }
      }
      .deskription-heroimage {

            &__content {
                  // max-width: 45%;
                  min-height: 100px;
                  max-width:100%;
                  margin-bottom: 2rem;
            }
      }
      .deskription-text-content {
            &__deskription-scroll {
                  display: none;
                  
            }
      }
      .deskription-scroll{
            display: none;
            &__deskription-scroll-down {
display: none;
margin: 0;
padding: 0;
            }}

      .title-digital{

      &__title-image-starleft {
            position: absolute;
            left: 60%;
            top: 310%;}

            &__title-image-starright {
                  position: absolute;
                  top: 10%;
                  right: 7%;
            }
      

      }
      .title-image-line {

            &__line {
                  display: none;
            }
      }
      .title-image-line-mini{
            &__line-mini {
            max-width: 100%;
            }
      }
      .content {
            max-width: 100%;
            &__agency {
                  margin: 15px;
                  @include text700;
                  max-width:100%;
                  font-size: 5.5rem;
            }
}
.title-digital {
      max-width: 100%;

      &__digital {
            @include text700;
            font-size: 5.5rem;
            z-index: 1;
            position: relative;
            margin-left: 4rem;
      }
}
.title-image-world {
      max-height: 100px;
      top: 450%;
      &__world-class {
            max-width: 90%;
            max-width: 8rem;
      }
}


.title-digital{

      &__title-image-world {
            position: absolute;
            top:20%;
      }
}
}





@media (max-width:900px) {
      .title-digital{
            &__title-image-world {
                  position: absolute;
                  top:15%;
                  right: 65%;
                  
            }
      }
}



@media (max-width:700px){
      
      
      .title-digital{

            &__title-image-world {
                  position: absolute;
                  top:40%;
                  right: 60%;
            }

      &__title-image-hero-ornament-top {
            position: absolute;
            left: 0%;
            top: -90%;
            display: none;
      }
      &__title-image-hero-ornament-top-mini{
            position: absolute;
            left: 0%;
            top: -70%;  
            display: initial;
      }
      }
      .content {
            max-width: 100%;
            &__agency {
                  padding:0;
                  @include text700;
                  text-align: left;
                  max-width:100%;
                  font-size: 3.5rem;
            }
}

.title-digital {
      max-width: 100%;

      &__digital {
            display: flex;
            @include text700;
            margin-left: 5rem;
            max-width: 100%;
            font-size: 3.5rem;
            z-index: 1;
            position: relative;
      }
}
}


@media (max-width:450px) {
      .title-digital{
            &__title-image-line-mini{
                  // display: none;
                  display: initial;
                  position: absolute;
                  top: 50%;
                  right: 0%;
                
            }}
}



