
.main-header {
    padding-top: 1.5rem;
    margin: 0 auto;
    max-width: 57rem;
    min-height: 3rem;

    &__navigation {
        min-height: 3rem;       
        display: flex;
        flex-wrap: nowrap;
        justify-content:space-between;      
        align-items: center;
        margin: 0 1rem 0 1rem;
    }
}
.navigation {

    &__navigation-list {
        display: flex;
        flex-wrap: nowrap;
    }
    &__burger {
        display: flex;
        flex-direction: column;
    }
}
.dalio {

    &__mini-logo {
        display: flex;
        flex-direction: column;
        display: none;
    }
}
.mini-logo {

    &__mini-dalio-link {
        display: flex;
        justify-content: center;
    }
}

.navigation-list {

    &__navigation-link {
        display: flex;
        flex-wrap: nowrap;
        color: #fff;
        margin: 0 2rem;
        text-decoration: none;
    }
}

.burger {

    &__burger-right-side {
        display: none;
    }
}


@media (max-width:930px) {
    .navigation {
        &__navigation-list {
            display: flex;
            flex-wrap: nowrap;
            display: none;
        }
}

.navigation-list {
    &__navigation-link {
        display: flex;
        flex-wrap: nowrap;
        color: #fff;
        margin: 0 2rem;
        text-decoration: none;
        display: none;
    }
}

.logo-link {
    &__logo-image {
        display: none;
    }
}

.dalio {
    &__mini-logo {
        display: flex;
        flex-direction: column;
        display: initial;
    }
}


.burger-link {
    &__burger-image {
        padding:1rem 0 0 1.5rem;
    }
}

.burger {
    &__burger-right-side {
        display: initial;
    }
}
}