.our-projects {
    padding-top: 6rem;
    margin: 1rem;
}
.container {
      margin: 0 auto;
}

.projects-header {
		&__title {
            @include text700
		}

		&__navigation {
            padding-top: 1.2rem;
            min-height: 3rem;
            display: flex;
            justify-content:center;
            gap: 2rem;
            align-items: center;
		}
}
.ui-ux{
    background: none;
    color:rgba(255, 201, 62, 1);
}
.navigation {
		&__project-link {
                  @include text400;
                  text-decoration:none;
                  transition: 0.2s;
		}
            &__project-link:hover {
                  @include text400;
                  text-decoration:none;
                  transition: 0.2s;
                  color: rgba(255, 201, 62, 1);
		}
            &__project-link-interaction{
                  @include text400;
                  text-decoration:none;   
                  transition: 0.2s; 
            }
            &__project-link-interaction:hover {
                  @include text400;
                  text-decoration:none;
                  transition: 0.2s;
                  color: rgba(255, 201, 62, 1);}

}
.projects-content {
    padding: 2.4rem 0 2.4rem 0;
    display: flex;
    justify-content: center;
}
.project-content-left {
            margin-right: 1.5rem;
}
.projects-content-left {
            display: flex;
            justify-content: center;

		&__image {
            border-radius: 50px;
            width: 100%;
		}

		&__title {
            padding: 1.6rem 0 1.6rem 0;
            @include text700;
            text-align:left;
            max-width: 100%;
            min-height: 2.9rem;
            font-size: 24px;
            line-height: 36px;
		}

		&__subtitle {
            @include text400;
            text-align:left;
            max-width: 27.65rem;
            min-height: 4.35rem;
		}
		}

.projects-content-right {

		&__image {
            border-radius: 50px;
            width: 100%;
		}

		&__title {
            padding: 1.6rem 0 1.6rem 0;
            @include text700;
            text-align:left;
            max-width: 18.95rem;
            min-height: 2.9rem;
            font-family: Inter;
            font-size: 24px;
            line-height: 36px;
		}

		&__subtitle {
            @include text400;
            text-align:left;
            max-width:27.65rem;
            min-height: 4.35rem;
		}
		}

.project-box-button{
  text-align: center
}
.projects-button {
    @include text600;
    color: black;
    @include button-hero;
    text-align: center;
    max-width: 10rem;
    min-height: 2.5rem;
    font-size: 16px;
    transition: 0.3s;
}
.projects-button:hover {

      @include text600;
      color: black;
      @include button-hero-light;
      text-align: center;
      max-width: 15rem;
      min-height: 2.5rem;
      transition: 0.3s;
}

.projects-header {

		&__button {
                  display: none;
		}
}
.project-points {
      display: none;
}

@media (max-width:900px) {
      .project-points {
            display: initial;
      }
      .projects-button {
            display: none;
      }
      .project-content-left {
            margin-right: 0;
        }
      .project-content-right {
            display: none;
      }
      .navigation {
		&__project-link {
            @include text400;
            text-decoration:none;
		}
            &__project-link-interaction{
                  @include text400;
                  text-decoration:none;  
                  display: none;  
            }
}
      .projects-header-mini {
            display: flex;
            justify-content: space-between;
      }
      .projects-header {

		&__title {
                  max-width: 80%;
                  @include text600;
                  text-align: left;
                  font-size: 1.3rem;

		}

		&__button {
                  display: initial;
                  @include light
		}
}
.our-projects {
      padding-top: 6rem;
      display: flex;
  }

}