.solution {
    background:url(/src/assets/icons/yelowbg.svg) 0 0 / auto 120% no-repeat ,$greycolor;
}
.our-solution {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	padding: 5rem 0 4.2rem 0;
	
}
.solution-image {
	max-width: 100%;
	min-height: 327px;
}
.solution-text {
			padding: 2.55rem 5.5rem 0 3.125rem;
			max-width: 535px;

			&__solution-title {
			@include text700;
			font-size: 48px;
			line-height: 58px;
			text-align: left;
		}

		&__article {

		}
}
.article {

		&__title {
			padding-top: 2rem;
			@include text700;
			font-size: 24px;
			line-height: 30px;
			text-align: left;
		}

		&__title-birdie {
		}

		&__subtitle {
		}

		&__deskription {
			@include text400;
			font-size: 16px;
			text-align: left;
		}
}
.solution-image-img{position: relative;
	z-index: 1;
}
.solution-arnament-img{position: absolute;
	top: 83%;
right: 94%;
z-index: -1;
}
.solution-circle-img{position: absolute;
	bottom: 91%;
	left: 89%;
	z-index: -1;
}
