.our-services {
      margin: 1rem;
}

.title-services {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 0 2rem 0;
 
		&__title {
                  max-width: 70%;
            @include text700;
            text-align: left
		}
		&__button {   
                  transition: 0.3s;    
            @include button-hero-light ;
            max-width: 7.95rem;
            min-height: 2.6rem;
            transition: 0.3s;
		}
            &__button:hover { 
                     
                  @include button-hero ;
                  max-width: 7.95rem;
                  min-height: 2.6rem; 
                  transition: 0.5s;
                  width: 8.5rem;
                  font-size: 25px;
                  }
}
.content-services {
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 1074px;

		&__left-half-box {
            max-width: 27.75rem;
            min-height: 1100px;
            margin: 0 1.5rem 2.7rem 0;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
		}

		&__right-half-box {
            max-width: 27.75rem;
            min-height: 1100px;
            margin:2.7rem 0 0 0;
            border-top-right-radius: 30px ;
            border-bottom-right-radius: 30px;
		}
}
.box {

		&__content-writing {
            background:$greycolor;
            min-height: 522px;
            padding: 4.73rem 2.05rem 0 1.7rem ;
            margin-bottom: 1.5rem;
            border-top-left-radius: 30px ;
		}

		&__branding {
            background:$greycolor;
            min-height: 522px;
            padding: 4.73rem 2.05rem 0 1.7rem ;
            border-bottom-left-radius: 30px;
            
		}

		&__ux-research {
            background:$greycolor;
            min-height: 522px;
            padding: 4.73rem 2.05rem 0 1.7rem ;
            margin-bottom: 1.5rem;
            border-top-right-radius: 30px ;
		}

		&__web-design {
            background:$greycolor;
            min-height: 522px;
            padding: 4.73rem 2.05rem 0 1.7rem ;
            border-bottom-right-radius: 30px;
		}
}
.content-writing {

		&__title {
            padding-top: 1.45rem;
            @include text600
		}

		&__deskription {
            @include text400;
            text-align: left;
            padding: 1rem 0 1rem 0;
		}

		&__button {
            @include button-hero-light ;
            max-width: 7.95rem;
            min-height: 2.6rem;
            transition: 0.5s;
		}
            &__button:hover {
                  @include button-hero ;
                  max-width: 7.95rem;
                  min-height: 2.6rem;
                  transition: 0.5s;
                  width: 10.1rem;
                  font-size: 19px
                  }
}
.branding {
		&__title {
            @include text600;
            padding-top: 1.45rem;
            padding-top: 1rem;
		}

		&__deskription {
            @include text400;
            text-align: left;
            padding: 1rem 0 1rem 0;
		}

		&__button {
            @include button-hero-light ;
            max-width: 7.95rem;
            min-height: 2.6rem;
            transition: 0.5s;
		}
            &__button:hover {
                  @include button-hero ;
                  max-width: 7.95rem;
                  min-height: 2.6rem;
                  transition: 0.5s;
                  width: 10.1rem;
                  font-size: 19px
                  }
}
.ux-research {

		&__title {
            @include text600;
            padding-top: 1.45rem;
		}

		&__deskription {
            @include text400;
            text-align: left;
            padding: 1rem 0 1rem 0;
            
		}

		&__button {
                  @include button-hero ;
                  max-width: 7.95rem;
                  min-height: 2.6rem;
                  transition: 0.5s;
                  }
                  &__button:hover {
                        @include button-hero-light ;
                        max-width: 7.95rem;
                        min-height: 2.6rem;
                        transition: 0.5s;
                        width: 10.1rem;
                        font-size: 19px
                        }
}
.web-design {

		&__title {
            @include text600;
            padding-top: 1.45rem;
		}

		&__deskription {
            padding: 1rem 0 1rem 0;
            @include text400;
            text-align: left;
		}

		&__button {
                  @include button-hero-light ;
                  max-width: 7.95rem;
                  min-height: 2.6rem;
                  transition: 0.5s;
                  }
                  &__button:hover {
                        @include button-hero ;
                        max-width: 7.95rem;
                        min-height: 2.6rem;
                        transition: 0.5s;
                        width: 10.1rem;
                        font-size: 19px
                        }
}




.content-services {

      &__box-mini {
            display: none;
      }
}

.box-mini {
      display: flex;
      justify-content: center;

      &__points {
            margin: 0 auto;
      }
}
.points {
      display: flex;
      max-width: 100%;
      &__points-image {
           max-width: 100%;
      }
}

@media (max-width:900px) {
      .title-services{

            &__button {
                  @include light ;
                  background: none;
                  border: none;
                  width: 8rem;
                  height: 2rem;
                  padding: 0;
                  display: flex;
                  justify-content: flex-end;
                  }
                  &__title {
                        @include text600;
                        line-height: 2rem;
                        padding-top: 1.45rem;
                        }
      }
      .box {

		&__content-writing {
            background:$greycolor;
            min-height: 522px;
            padding: 4.73rem 2.05rem 2.4rem 1.7rem ;
            margin-bottom: 1.5rem;
            border-radius: 30px ;
		}
      }

      .content-services {
            display: flex;
            justify-content:center;
            min-height: 100px;
            &__box-mini {
                  max-width: 600px;
                  display: initial;
                  display: flex;
                  flex-direction: column;
            }
            &__left-half-box {
                        display: none;
                        }

            &__right-half-box {
                        display: none;
                        }
            }
      
      .content-writing{
            &__button {
            @include button-hero ;
            max-width: 7.95rem;
            min-height: 2.6rem;
            color: black;
		}
      }
      .our-services {
            margin: 1rem;
            display: flex;
      }

}