.solution {
    background:url(/src/assets/icons/yelowbg.svg) 0 0 / auto 120% no-repeat ,$greycolor;
}
.our-solution {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	padding: 5rem 0 4.2rem 0;
	margin: 2rem;
}
.solution-image {
	max-width: 100%;
	min-height: 327px;
}
.solution-text {
			padding: 2.55rem 5.5rem 0 3.125rem;
			max-width: 535px;

			&__solution-title {
			@include text700;
			font-size: 48px;
			line-height: 58px;
			text-align: left;
		}

		&__article {

		}
}
.article {

		&__title {
			padding-top: 2rem;
			@include text700;
			font-size: 24px;
			line-height: 30px;
			text-align: left;
		}

		&__title-birdie {
			
		}
		&__title-birdie-yelow{
			display: none
		}

		&__subtitle {
		}

		&__deskription {
			@include text400;
			font-size: 16px;
			text-align: left;
		}
}
.solution-image-img{position: relative;
	z-index: 1;
}
.solution-arnament-img{position: absolute;
	top: 83%;
right: 94%;
z-index: -1;
}
.solution-circle-img{position: absolute;
	bottom: 91%;
	left: 89%;
	z-index: -1;
}



@media (max-width:900px) {
	.article {
	&__title-birdie {
		display: none;	
	}
	&__title-birdie-yelow{
		display: initial
	}
}
	.solution {
		background:url(/src/assets/icons/yelowbg.svg) 0 -250% / auto 120%  no-repeat ,$bluecolor;
		// background:url(/src/assets/icons/yelowbg.svg) 0 -500px / cover  no-repeat ,$bluecolor;
	}
	.our-solution {
		display: flex;
		flex-wrap: wrap-reverse;
		justify-content: center;
		padding: 0;
	}

.solution-image {
	max-width: 100%;
	min-height: 327px;
	margin: 0 0  7rem 0;
}
.solution-text {
	padding: 2.55rem 0rem 2rem 0rem;
	max-width: 535px;

}

}
@media (max-width:500px) {
	.solution {
		background:url(/src/assets/icons/yelowbg.svg) 0 -350% / auto 120%  no-repeat ,$bluecolor;
		// background:url(/src/assets/icons/yelowbg.svg) 0 -500px / cover  no-repeat ,$bluecolor;
	}
	.solution-image {
		max-width: 100%;
		min-height: 327px;
		margin: 0 0  5rem 0;
	}
}