.what-say-happy-clients {
    margin: 1rem;

    &__title {
        @include text700;
        text-align:left;
        padding: 6rem 0 2.4rem 0;
    }

    &__content {
        display: flex;
    }
}
.container {
    margin: 0 auto;
}
.full-card {
    padding: 2.7rem 3.25rem 2rem 3.25rem;
    margin-left:10%;
    margin-right: 1.6rem;
    display: flex;
    align-items: center;
    background: $greycolor;
    border-radius: 50px;
    position: relative;
    max-width: 37.5rem;
  
    
    &__left-side {
        cursor: pointer;
        position: absolute;
        right: 96%;
        
        
    }
    

    &__deskription {
        @include text400;
        text-align: left;
        padding-top: 1.6rem;
    }
    &__business-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.busines-card-simons-card{
    display: flex;
}
.business-card {
    max-width: 100%;
    &__simons-card {
    max-width: 100%;
    }

    &__simmons-image {  
        padding-top: 1.85rem; 
    }

    &__data {
        margin: 2.1rem 0 0 0.8rem;
    }
 .business-card__rating

    &__rating {
        max-width: 100%;
        margin: 0 auto;
    }

    &__wilson-image {
        max-width: 100%;
        padding-top: 1.85rem;
    }
}
.data {

    &__name {
        @include text500;
        color:rgba(255, 255, 255, 1);
    }

    &__job-title {
        @include text400;
        color:rgba(255, 201, 62, 1) ;
    }
}
.half-card {
    background: $greycolor;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    max-width: 37.5rem;
    overflow: hidden;
    padding: 2.7rem 3.25rem 2rem 3.25rem;

    &__deskription {
        padding-top: 1.6rem;
width: 620px;
@include text400;
text-align: left;
    }
    &__business-card {
        display: flex;
    }
}
@media (max-width:900px) {
    .container {
        display: flex;
        justify-content: space-between;
    }
    .what-say-happy-clients {

        &__title {
                padding: 0;
                max-width: 80%;
                @include text600;
                text-align: left;
                font-size: 1.3rem;
        }
    
}
.what-say-happy-clients{

    &__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

.full-card{
    margin: 2rem auto;
    max-width: 100%;
    

    &__arrow-image {
        display: none;
    }
    &__business-card {
        display: flex;
        flex-wrap: wrap;
        
        max-width: 100%;
    }
    &__right-side {
        max-width: 100%;
    }
}
.busines-card-simons-card{
    display: flex;
    max-width: 50%;
}
.half-card {
    display: none;
}
}
