@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;700;900&family=Open+Sans&family=Raleway&display=swap");
html {
  font-size: 20px;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-big {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  margin: 0 auto;
}

.main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background: #172048;
}

.hero {
  background: url(../assets/icons/ellipse-right-top.svg) url(../assets/icons/ellipse-left-top.svg) 0 0, #FEC83E;
  margin: 1rem;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-content__title-agency-filling {
  min-height: 700px;
  margin: 0;
}
.hero-content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero-content__deskription-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 700px;
  z-index: 6;
}
.hero-content__world-class {
  height: 182px;
  margin-left: 15%;
}
.hero-content__title-digital {
  max-height: 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero-content__title-text-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.hero-content__digital {
  font-weight: 700;
  line-height: 182px;
  letter-spacing: 0em;
  color: rgb(255, 255, 255);
}
.hero-content__agency {
  min-height: 182px;
  max-width: 563px;
  font-family: "Inter", sans-serif;
  font-size: 150px;
  font-weight: 700;
  line-height: 182px;
  color: rgb(255, 255, 255);
}
.hero-content__deskription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero-content__deskription-side-image {
  margin-left: 2rem;
  height: 368px;
  width: 292px;
}
.hero-content__deskription-text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero-content__deskription-hero-deskription {
  max-width: 25rem;
  margin-top: 2rem;
  color: rgb(224, 229, 243);
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}
.hero-content__deskription-hero-button {
  max-width: 10rem;
  min-height: 60px;
  margin-top: 2.2rem;
  background: url(/src/assets/icons/hero-arrow.svg) 90% no-repeat, rgb(255, 201, 62);
  border-radius: 30px;
  font-family: "Inter", sans-serif;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding: 0 2rem 0 1rem;
  cursor: pointer;
}
.hero-content__deskription-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 1.3rem 8.8rem 0 0;
}
.hero-content__deskription-scroll-down {
  height: 102px;
  width: 22px;
  text-align: end;
}
.hero-content__deskription-hero-image {
  border-radius: 50px;
  max-width: 100%;
  min-height: 327px;
  z-index: 1;
}

.title__title-digital {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.title-digital__digital {
  padding-top: 3.5rem;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  color: rgb(255, 255, 255);
  max-width: 100%;
  font-size: 7.5rem;
  z-index: 1;
  position: relative;
}
.title-digital__title-image-world {
  position: absolute;
  right: 65%;
}
.title-digital__title-image-line {
  position: absolute;
  left: 48%;
  top: 10%;
  overflow: hidden;
}
.title-digital__title-image-starleft {
  position: absolute;
  left: 2.5%;
  top: 80%;
}
.title-digital__title-image-starright {
  position: absolute;
  top: 20%;
  right: 15%;
}
.title-digital__title-image-ellips-left-top {
  position: absolute;
  left: 0%;
  top: -160%;
}
.title-digital__title-image-ellips-left-bottom {
  position: absolute;
  left: 0%;
  top: 160%;
}
.title-digital__title-image-ellips-right-top {
  position: absolute;
  right: 0%;
  top: -160%;
}
.title-digital__title-image-ellips-right-bottom {
  position: absolute;
  right: 0%;
  top: 160%;
}
.title-digital__title-image-hero-ornament-top {
  position: absolute;
  left: 0%;
  top: -90%;
}

.main-header {
  padding-top: 1.5rem;
  margin: 0 auto;
  max-width: 57rem;
  min-height: 3rem;
}
.main-header__navigation {
  min-height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-header__logo-image {
  height: 63px;
  width: 118px;
}
.main-header__navigation-link {
  color: #fff;
  margin: 0 2rem;
  text-decoration: none;
}
.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-us-text {
  max-width: 539px;
  padding-right: 2.2rem;
}
.about-us-text__title-about {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(255, 255, 255);
}
.about-us-text__deskription-about {
  padding-top: 2rem;
  min-height: 297px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(224, 229, 243);
}
.about-us-text__button {
  width: 10rem;
  min-height: 56px;
  background: url(/src/assets/icons/hero-arrow.svg) 90% no-repeat, rgb(255, 201, 62);
  border-radius: 30px;
  font-family: "Inter", sans-serif;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding: 0 2rem 0 1rem;
  cursor: pointer;
}

.about-us-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}
.about-us-images__left {
  max-width: 265px;
  margin-right: 1.3rem;
}
.about-us-images__left-image-top {
  margin-bottom: 1.3rem;
}
.about-us-images__left-image-bottom {
  margin-left: 2.2rem;
}
.about-us-images__right {
  max-width: 265px;
  margin-top: 3.5rem;
}
.about-us-images__right-image-top {
  margin-bottom: 1.3rem;
}

.position-about {
  position: relative;
  z-index: 1;
}

.posion-ornament-circle__circle {
  position: absolute;
  left: 80%;
  top: 83%;
  z-index: -1;
}

.posion-ornament-liner__liner {
  position: absolute;
  left: 70%;
  top: 1%;
  z-index: -1;
}

.fun-facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fun-fact {
  padding: 4rem 0 6rem 0;
}
.fun-fact__job-completed {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(224, 229, 243);
}
.fun-fact__job-complete-numbers {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.fun-fact__industry-experience {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(224, 229, 243);
}
.fun-fact__industry-experience-numbers {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.fun-fact__world-wide-clients {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(224, 229, 243);
}
.fun-fact__world-wide-clients-numbers {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.fun-fact__won-awards {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(224, 229, 243);
}
.fun-fact__won-awards-numbers {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.solution {
  background: url(/src/assets/icons/yelowbg.svg) 0 0/auto 120% no-repeat, #5A6378;
}

.our-solution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 0 4.2rem 0;
}

.solution-image {
  max-width: 100%;
  min-height: 327px;
}

.solution-text {
  padding: 2.55rem 5.5rem 0 3.125rem;
  max-width: 535px;
}
.solution-text__solution-title {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 48px;
  line-height: 58px;
  text-align: left;
}
.article__title {
  padding-top: 2rem;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 24px;
  line-height: 30px;
  text-align: left;
}
.article__deskription {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(224, 229, 243);
  font-size: 16px;
  text-align: left;
}

.solution-image-img {
  position: relative;
  z-index: 1;
}

.solution-arnament-img {
  position: absolute;
  top: 83%;
  right: 94%;
  z-index: -1;
}

.solution-circle-img {
  position: absolute;
  bottom: 91%;
  left: 89%;
  z-index: -1;
}

.title-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6rem 0 2rem 0;
}
.title-services__title {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  color: rgb(255, 255, 255);
  max-width: 19.1rem;
  text-align: left;
}
.title-services__button {
  background: url(/src/assets/icons/arrowlight.svg) 90% no-repeat;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding: 0 2rem 0 1rem;
  cursor: pointer;
  width: 8rem;
  height: 2rem;
}

.content-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 1074px;
}
.content-services__left-half-box {
  max-width: 27.75rem;
  min-height: 1100px;
  margin: 0 1.5rem 2.7rem 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.content-services__right-half-box {
  max-width: 27.75rem;
  min-height: 1100px;
  margin: 2.7rem 0 0 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.box__content-writing {
  background: #5A6378;
  min-height: 522px;
  padding: 4.73rem 2.05rem 0 1.7rem;
  margin-bottom: 1.5rem;
  border-top-left-radius: 30px;
}
.box__branding {
  background: #5A6378;
  min-height: 522px;
  padding: 4.73rem 2.05rem 0 1.7rem;
  border-bottom-left-radius: 30px;
}
.box__ux-research {
  background: #5A6378;
  min-height: 522px;
  padding: 4.73rem 2.05rem 0 1.7rem;
  margin-bottom: 1.5rem;
  border-top-right-radius: 30px;
}
.box__web-design {
  background: #5A6378;
  min-height: 522px;
  padding: 4.73rem 2.05rem 0 1.7rem;
  border-bottom-right-radius: 30px;
}

.content-writing__title {
  padding-top: 1.45rem;
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: rgb(255, 255, 255);
}
.content-writing__deskription {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(224, 229, 243);
  text-align: left;
  padding: 1rem 0 1rem 0;
}
.content-writing__button {
  background: url(/src/assets/icons/arrowlight.svg) 90% no-repeat;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding: 0 2rem 0 1rem;
  cursor: pointer;
  max-width: 7.95rem;
  min-height: 2.6rem;
}

.branding__title {
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: rgb(255, 255, 255);
  padding-top: 1.45rem;
  padding-top: 1rem;
}
.branding__deskription {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(224, 229, 243);
  text-align: left;
  padding: 1rem 0 1rem 0;
}
.branding__button {
  background: url(/src/assets/icons/arrowlight.svg) 90% no-repeat;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding: 0 2rem 0 1rem;
  cursor: pointer;
  max-width: 7.95rem;
  min-height: 2.6rem;
}

.ux-research__title {
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: rgb(255, 255, 255);
  padding-top: 1.45rem;
}
.ux-research__deskription {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(224, 229, 243);
  text-align: left;
  padding: 1rem 0 1rem 0;
}
.ux-research__button {
  background: url(/src/assets/icons/hero-arrow.svg) 90% no-repeat, rgb(255, 201, 62);
  border-radius: 30px;
  font-family: "Inter", sans-serif;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding: 0 2rem 0 1rem;
  cursor: pointer;
  max-width: 7.95rem;
  min-height: 2.6rem;
}

.web-design__title {
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: rgb(255, 255, 255);
  padding-top: 1.45rem;
}
.web-design__deskription {
  padding: 1rem 0 1rem 0;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(224, 229, 243);
  text-align: left;
}
.web-design__button {
  background: url(/src/assets/icons/arrowlight.svg) 90% no-repeat;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding: 0 2rem 0 1rem;
  cursor: pointer;
  max-width: 7.95rem;
  min-height: 2.6rem;
}

.our-projects {
  padding-top: 6rem;
}

.projects-header__title {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.projects-header__navigation {
  padding-top: 1.2rem;
  min-height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ui-ux {
  background: none;
  color: rgb(255, 201, 62);
}

.navigation__project-link {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(224, 229, 243);
  text-decoration: none;
}

.projects-content {
  padding: 2.4rem 0 2.4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-content-left {
  margin-right: 1.5rem;
}

.projects-content-left__image {
  border-radius: 50px;
  width: 100%;
}
.projects-content-left__title {
  padding: 1.6rem 0 1.6rem 0;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-align: left;
  max-width: 18.95rem;
  min-height: 2.9rem;
  font-size: 24px;
  line-height: 36px;
}
.projects-content-left__subtitle {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(224, 229, 243);
  text-align: left;
  max-width: 27.65rem;
  min-height: 4.35rem;
}

.projects-content-right__image {
  border-radius: 50px;
  width: 100%;
}
.projects-content-right__title {
  padding: 1.6rem 0 1.6rem 0;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-align: left;
  max-width: 18.95rem;
  min-height: 2.9rem;
  font-family: Inter;
  font-size: 24px;
  line-height: 36px;
}
.projects-content-right__subtitle {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(224, 229, 243);
  text-align: left;
  max-width: 27.65rem;
  min-height: 4.35rem;
}

.project-box-button {
  text-align: center;
}

.projects-button {
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: rgb(255, 255, 255);
  color: black;
  background: url(/src/assets/icons/hero-arrow.svg) 90% no-repeat, rgb(255, 201, 62);
  border-radius: 30px;
  font-family: "Inter", sans-serif;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding: 0 2rem 0 1rem;
  cursor: pointer;
  text-align: center;
  max-width: 10rem;
  min-height: 2.5rem;
  font-size: 16px;
}

.what-say-happy-clients__title {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-align: left;
  padding: 6rem 0 2.4rem 0;
}
.what-say-happy-clients__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  margin: 0 auto;
}

.full-card {
  padding: 2.7rem 3.25rem 2rem 3.25rem;
  margin-left: 10%;
  margin-right: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #5A6378;
  border-radius: 50px;
  position: relative;
  max-width: 37.5rem;
}
.full-card__left-side {
  cursor: pointer;
  position: absolute;
  right: 96%;
}
.full-card__deskription {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(224, 229, 243);
  text-align: left;
  padding-top: 1.6rem;
}
.full-card__business-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.busines-card-simons-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.business-card__simmons-image {
  padding-top: 1.85rem;
}
.business-card__data {
  padding: 2.1rem 0 0 0.8rem;
}
.business-card__rating {
  padding-top: 1.6rem;
}
.business-card__wilson-image {
  padding-top: 1.85rem;
}

.data__name {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.data__job-title {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(224, 229, 243);
  color: rgb(255, 201, 62);
}

.half-card {
  background: #5A6378;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  max-width: 37.5rem;
  overflow: hidden;
  padding: 2.7rem 3.25rem 2rem 3.25rem;
}
.half-card__deskription {
  padding-top: 1.6rem;
  width: 620px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(224, 229, 243);
  text-align: left;
}
.half-card__business-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-from-insights {
  padding-bottom: 6rem;
}

.insights__title {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-align: left;
  padding: 6rem 0 2rem 0;
}
.insights__articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.articles__technology {
  max-width: 27.7rem;
}
.articles__webiner {
  max-width: 27.7rem;
}

.technology__false-button {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid;
  display: inline-block;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  font-family: Red Hat Display;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  padding: 0.05rem;
}
.technology__date {
  padding: 1.05rem 0 0.8rem 0;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.technology__subtitle {
  max-width: 90%;
  padding: 0 0 1rem 0;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 38px;
  text-align: left;
}
.image-box__technology-picture {
  border-radius: 65px;
  width: 100%;
  padding: 0 0.8rem 0.8rem 0;
}
.image-box__webiner-picture {
  border-radius: 65px;
  width: 100%;
  padding: 0 0 0.8rem 0.8rem;
}

.button-box__button {
  background: url(/src/assets/icons/arrowlight.svg) 90% no-repeat;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding: 0 2rem 0 1rem;
  cursor: pointer;
  min-height: 2.5rem;
}

.webiner__false-button {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid;
  display: inline-block;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  font-family: Red Hat Display;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  padding: 0.05rem;
}
.webiner__date {
  padding: 1.05rem 0 0.8rem 0;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.webiner__subtitle {
  max-width: 90%;
  padding: 0 0 1rem 0;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 30px;
  line-height: 38px;
  text-align: left;
}
.hero-footer {
  background: #5A6378;
}

.footer {
  margin-top: 2.4rem;
}
.footer__interaction-contacts {
  padding: 2.4rem 4rem 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__bottom-information {
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.interaction-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.interaction-contacts__ornament-box {
  position: absolute;
  left: 3.5%;
  top: 6%;
}
.form__footer-form {
  margin-right: 3rem;
}
.form__footer-fieldset {
  position: relative;
  width: 110%;
  border-radius: 50px;
  border: none;
  background: #FEC83E;
  padding: 0 2.4rem 4rem 2.4rem;
}
.form__footer-input-email {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  width: 100%;
  padding: 1rem 0 0 0;
  border-top: none;
  border-left: none;
  border-right: none;
  background: #FEC83E;
  outline: none;
}
.form__footer-input-email::-webkit-input-placeholder {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.form__footer-input-email::-moz-placeholder {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.form__footer-input-email:-ms-input-placeholder {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.form__footer-input-email::-ms-input-placeholder {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.form__footer-input-email::placeholder {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.footer-fieldset__title {
  padding: 4rem 0 0 0;
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: rgb(255, 255, 255);
  color: black;
  max-width: 100%;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

.office__name {
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}
.office__adres {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(224, 229, 243);
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.contact__name {
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}
.contact__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.links__link-mail {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(224, 229, 243);
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.links__link-telephone {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(224, 229, 243);
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.bottom-information__left-side {
  margin: 0 auto;
}
.bottom-information__cemter-side {
  margin: 0 auto;
}
.bottom-information__right-side {
  margin: 0 auto;
}

.left-side__information {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(224, 229, 243);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.center-side__information {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(224, 229, 243);
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}