@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;700;900&family=Open+Sans&family=Raleway&display=swap");
html {
  font-size: 20px;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  background-color: #172048;
  max-width: 1440px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.hero {
  margin: 1rem;
  background: url(/src/assets/images/hero-line.svg) 92% 80% no-repeat, url("/src/assets/images/Background-top.svg") 0 0/cover no-repeat;
  max-width: 1440px;
  margin: 0;
}

.hero-content__title-agency-filling {
  min-height: 700px;
  margin: 0;
}
.hero-content__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero-content__deskription-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 700px;
  z-index: 6;
}
.hero-content__world-class {
  height: 182px;
  margin-left: 15%;
}
.hero-content__title-digital {
  max-height: 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero-content__title-text-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.hero-content__digital {
  padding-right: 6rem;
  height: 72px;
  width: 472px;
  font-family: "Inter", sans-serif;
  font-size: 150px;
  font-weight: 700;
  line-height: 182px;
  letter-spacing: 0em;
  color: rgb(255, 255, 255);
}
.hero-content__agency {
  min-height: 182px;
  max-width: 563px;
  font-family: "Inter", sans-serif;
  font-size: 150px;
  font-weight: 700;
  line-height: 182px;
  color: rgb(255, 255, 255);
}
.hero-content__deskription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero-content__deskription-side-image {
  margin-left: 2rem;
  height: 368px;
  width: 292px;
}
.hero-content__deskription-text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero-content__deskription-hero-deskription {
  max-width: 25rem;
  margin-top: 2rem;
  color: rgb(224, 229, 243);
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}
.hero-content__deskription-hero-button {
  width: 10rem;
  min-height: 60px;
  margin-top: 2.2rem;
  background: url(/src/assets/icons/hero-arrow.svg) 82% no-repeat, rgb(255, 201, 62);
  border-radius: 30px;
  font-family: "Inter", sans-serif;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding-right: 7%;
  cursor: pointer;
}
.hero-content__deskription-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: 1.3rem 8.8rem 0 0;
}
.hero-content__deskription-scroll-down {
  height: 102px;
  width: 22px;
  text-align: end;
}
.hero-content__deskription-hero-image {
  min-height: 475px;
  max-width: 23rem;
  border-radius: 50px;
}

.main-header {
  padding-top: 1.5rem;
  margin: 0 auto;
  max-width: 57rem;
  min-height: 3rem;
}
.main-header__navigation {
  min-height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-header__logo-image {
  height: 63px;
  width: 118px;
}
.main-header__navigation-link {
  color: #fff;
  margin: 0 2rem;
  text-decoration: none;
}
.about {
  background: url(/src/assets/icons/about-us-ornament-cirkle.svg) 95% 100% no-repeat, url(/src/assets/icons/about-us-ornament-liner.svg) 80% 10% no-repeat;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-us-text {
  max-width: 539px;
}
.about-us-text__title-h {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(255, 255, 255);
}
.about-us-text__deskription-p-first {
  padding-top: 2rem;
  min-height: 297px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(224, 229, 243);
}
.about-us-text__button {
  max-width: 150px;
  min-height: 56px;
  background: url(/src/assets/icons/hero-arrow.svg) 82% no-repeat, rgb(255, 201, 62);
  border-radius: 30px;
  font-family: "Inter", sans-serif;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding-right: 7%;
  cursor: pointer;
}

.about-us-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2.2rem;
  max-width: 45%;
}
.about-us-images__left {
  max-width: 265px;
  margin-right: 1.3rem;
}
.about-us-images__left-image-top {
  margin-bottom: 1.3rem;
}
.about-us-images__left-image-bottom {
  margin-left: 2.2rem;
}
.about-us-images__right {
  max-width: 265px;
  margin-top: 3.5rem;
}
.about-us-images__right-image-top {
  margin-bottom: 1.3rem;
}